/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 375px;
  max-width: 1440px;
  min-block-size: 100dvb;
  font-family: var(--font-family), sans-serif;
  flex-direction: column;
  align-items: center;
  font-variation-settings: "wght" var(--main-wght);
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  padding: 100px 0;
}

.gradient-section {
  background-image: var(--main-gradient);
  background-size: cover;
  background-repeat: repeat;
  height: 100%;
  min-height: 960px;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: var(--accent-font), sans-serif;
}

.block {
  box-sizing: border-box;
  min-width: var(--block-width);
  min-height: clamp(20.1rem, 19.5359rem + 3.849vw, 23rem);
  background-color: #fff;
  border: 2px solid #000;
  text-align: center;
  margin-bottom: 95px;
  padding: 130px 20px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.main-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 20px;
  align-items: center;
}
.second-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-family: var(--accent-family);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--accent-color), #000;
}

.card {
  box-sizing: border-box;
  display: inline-block;
  background-color: #fff;
  border: 2px solid var(--accent-color);
  width: 100%;
  min-inline-size: 375px;
  max-width: 700px;
  position: relative;
}

.title {
  font-family: var(--font-family), sans-serif;
  font-size: 18px;
  font-variation-settings: "wght" var(--wght);
  padding: 5px 11px 3px;
}

.image-card {
  position: relative;
  width: 100%;
}

.image-card img {
  display: block;
  width: 100%;
  max-height: clamp(23.388rem, 16.0359rem + 30.5157vw, 43.98rem);
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.lots_of_filters {
  filter: sepia(0.5) contrast(1.2) brightness(0.9) saturate(0.8);
}

.invert {
  filter: invert(25%);
}

.sepia {
  filter: sepia(50%);
}

.grayscale {
  filter: grayscale(30%);
}

.saturate {
  filter: saturate(0.8);
}

.contrast {
  filter: contrast(1.1);
}

.brightness {
  filter: brightness(0.95);
}

.html-label {
  position: absolute;
  top: 30px;
  right: 25px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--color);
  text-shadow: 1px var(--color);
}

@supports (text-stroke: 1px var(--color)) {
  .html-label {
    text-stroke: 1px var(--color);
  }
}

.paragraph {
  padding: 23px 26px 3px;
  font-weight: 410;
  font-size: 18px;
  line-height: 117%;
}

.card__icon-like-button {
  align-self: end;
  text-align: right;
}

.card__like-button {
  width: 130px;
  height: 38px;
  background: none;
  font-family: var(--accent-family), sans-serif;
  outline: 2px solid var(--accent-color), #000;
  padding: 9px 17px;
  margin: 20px 26px 25px 0;
  position: relative;
}

.card__icon-button {
  outline: none;
  border: none;
  align-self: end;
  justify-content: right;
  background: none;
  padding: 0;
  margin-top: 30px;
  cursor: pointer;
  position: absolute;
  bottom: 23px;
  right: 163px;
}

.save_floppy_button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.save_button {
  display: flex;
  background: var(--color);
  border: 2px solid var(--accent-color);
  min-width: 335px;
  min-height: 55px;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 8px;
}
.button_text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 90%;
  color: var(--color);
  mix-blend-mode: difference;
}

.save_to_floppy {
  box-sizing: border-box;
  display: grid;
  min-width: 353px;
  min-height: 191px;
  gap: 20px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  font-family: var(--accent-font);
  padding: 30px;
}

.icon_floppy {
  width: 39px;
  height: 39px;
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}

.icon_floppy_disk {
  fill: currentColor;
  position: relative;
  z-index: 2;
  width: 22px;
  height: 21px;
  object-fit: cover;
  mix-blend-mode: difference;
  color: var(--color);
}

.button-style {
  margin-left: 8px;
}

.save_to_floppy span {
  width: 100%;
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  padding-bottom: 9px;
}

.save_to_floppy[open]::backdrop {
  backdrop-filter: blur(20px);
}

.body:has(.save_to_floppy[open]) {
  overflow: hidden;
}

.save_to_floppy:not([open]) {
  display: none;
}

.ok_button {
  grid-row: 2;
  grid-column: 1 / span 2;
  width: 100%;
  min-height: 38px;
  background: none;
  line-height: 90%;
  background-color: var(--color);
}

.ok_button span {
  padding: auto;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}

.button-effects {
  outline: none;
  transition: box-shadow 0.3s ease;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: var(--color);
  isolation: isolate;
}

.button-effects:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button-effects::before {
  content: "";
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.button-effects:hover::before {
  transform: scaleX(1);
}

.sparks {
  opacity: 0;
}
.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core {
  --animation-fill-color: #000;
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  --animation-fill-color: #000;
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked {
  animation: scale-heart 0.3s 0.1s ease-in;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: appearance-sparks 0.3s 0.3s ease-in;
  animation-fill-mode: forwards;
}
.sparks path {
  fill: var(--decoration-color);
}

.card__icon-button:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 1px;
}

@media (width <= 376px) {
  .save_button {
    min-width: 306px;
    max-height: 84px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 8px 13px;
    position: relative;
    margin: 0 auto;
    gap: 6px;
  }

  .button_text {
    padding-top: 5px;
  }

  button .icon_floppy_disk {
    width: 28px;
    height: 28px;
    object-fit: cover;
  }

  .save_to_floppy {
    display: grid;
    max-width: 341px;
    max-height: 191px;
  }

  .gradient-section {
    min-height: 667px;
  }

  .block {
    padding: 120px 16px;
    margin-bottom: 100px;
  }
  .paragraph {
    padding: 27px 26px 0;
  }

  .card__like-button {
    margin: 24px 26px 23px 0;
  }
  .card__icon-button {
    position: absolute;
    bottom: 20px;
    right: 163px;
  }
}
